.box-hide-container{
    position: relative;
    display: inline-block;
     
   .box-hide{
        transition: all .2s 0s linear;
        z-index: 1;
        opacity: 0;
        
        &:last-child{
            z-index: 2;
            opacity: 1;
        }
    }
    &:hover, &.active{
        //transform: rotate3d(0, 1, 0, 180deg) scaleX(-1);
        
             
            &>.box-hide:first-child{
                z-index: 2;
                opacity: 1;
            }
            &>.box-hide:last-child{
                z-index: 1;
                opacity: 0;
            }
      
        
    }
}